@font-face {
  font-family: 'inglobal';
  src: url('../fonts/inglobal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inglobal';
  src: url('../fonts/inglobal-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'inglobal';
  src: url('../fonts/inglobal-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'inglobal';
  src: url('../fonts/inglobal-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  font-family: 'inglobal', Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.875em;
}

.main-title {
  color: white;
  font-weight: normal;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #f7941d;
  margin-top: 4vw;
  margin-left: 4vw;
}

.sub-title {
  margin-left: 4vw;
}

.burger-menu-button {
  display: none;
}

.button {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display:block;
  margin: 0 auto;
}

.header-button {
  margin-top: 6em;
}

.write-us-button {
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
  padding: 0.625em 2em;
  border-radius: 10px;
  background-image: -moz-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
}

.write-us-button:hover {
  opacity: 0.9;
}

.write-us-button:active {
  box-shadow: none;
  background-image: -moz-linear-gradient( 90deg, rgb(249,164,0) 0%, rgb(247,112,29) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(249,164,0) 0%, rgb(247,112,29) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(249,164,0) 0%, rgb(247,112,29) 100%);
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  padding-bottom: 15em;
  overflow: hidden;
}

.header-bottom {
  position: relative;
  overflow: hidden;
  padding-bottom: 18em;
}

.contacts-header {
  padding-bottom: 3vw;
}

.with-button {
  padding-bottom: 3vw;
}

.inner-header .navigation-item a {
  color: #6e6e6e;
}

.inner-header .header-top {
  align-items: flex-end;
}

.inner-header .navigation-list {
  padding: 0.9em 0;
}

.inner-header .header-button {
  margin-top: 15em;
}

div[class^="moving-backgrond"] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/main-header-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: animatedBackground 5s linear forwards;
}

div[class="moving-backgrond-formwork"] {
  background-image: url(../img/formwork-header-img.png);
}

div[class="moving-backgrond-scaffold"] {
  background-image: url(../img/scaffold-header-img.png);
}

div[class="moving-backgrond-tower"] {
  background-image: url(../img/tower-header-img.png);
}

div[class="moving-backgrond-plywood"] {
  background-image: url(../img/plywood-header-img.jpg);
}

div[class="moving-backgrond-contacts"] {
  background-image: url(../img/contacts-header-img.png);
}

div[class="moving-backgrond-services"] {
  background-image: url(../img/services-header-img.jpg);
}

div[class="moving-backgrond-construction-materials"] {
  background-image: url(../img/construction-materials-header-img.jpg);
}

.plywood .inner-content {
  margin-top: 3vw;
}

@keyframes animatedBackground {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show {
0% {transform: scale(0);}
100% {transform: scale(1);}
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
}

.header-info {
  flex-grow: 1;
}

.inner-header .header-info {
  display: flex;
  flex-direction: column;
}

.inner-telephone {
  font-family: 'Calibri', Arial, sans-serif;
  font-size: 1.25em;
  align-self: flex-end;
  padding-right: 1.5vw;
}

.inner-telephone a {
  color: #f7941d;
}

.header-contacts {
  font-family: 'Calibri', Arial, sans-serif;
  font-size: 1.25em;
  background-color: #f7941d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2vw;
  padding: 0.5em 0;
}

.main-navigation {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}

.contacts-header .main-navigation {
  background-color: rgba(255, 255, 255, 0.7);
}

.wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 1vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
}

.contacts-footer-address {
  text-transform: none;
  color: black;
  font-weight: normal;
}

.contacts-header .navigation-item a {
  color: #f7941d;
}

.line {
  height: 1px;
  margin-top: 3vw;
  background-color: #f7941d;
}

.staff-list {
  background-color: #f7941d;
}

.copyright {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0.6em;
  background-image: -moz-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
}

.header-contacts li {
  display: flex;
  align-items: center;
  padding: 0 0.2em;
}

.title-inner {
  /*font-weight: normal;*/
  margin: 1.5em 0;
  color: #f7941d;
  line-height: 1em;
}

.inner-content {
  padding: 0 1vw;
  text-align: center;
  line-height: 1.3em;
}

.inner-content p, .inner-content ul, .inner-content ol {
  margin-bottom: 1vw;
  text-align: justify;
  font-weight: normal;
}

.inner-content ol {
  margin-left: 2vw;
}

.inner-content ul {
  list-style: initial;
}

.inner-link {
  color: blue;
}

.plywood .inner-link {
  text-align: left;
  display: block;
  margin: 2vw 0;
}

.inner-content-img {
  margin-bottom: 1vw;
}

.img-float {
  float: left;
  margin: 2vw;
}

.inner-content table {
  text-align: left;
  margin-bottom: 2vw;
}

.inner-content td {
  padding-left: 2vw;
}

.inner-content h2 {
  margin-left: 0;
}

.main-title {
  margin-left: 4vw;
  margin-top: 2.5em;
}

.main-title::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 11%;
  border-bottom: solid 4px rgb(247, 148, 29);
}

.header-contacts li img {
  padding: 0 0.3em;
}

.email {
  color: white;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 1.6em 0;
  font-size: 1.0625em;
}

.navigation-list-sub {
  display: flex;
  display: none;
  padding: 5px;
  flex-direction: column;
  font-size: 0.9em;
  position: absolute;
  align-items: flex-start;
  top: 54px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.navigation-item {
  position: relative;
  padding: 0 0.3em;
  cursor: pointer;
}

.navigation-list-sub li:not(:last-child) {
  margin-bottom: 10px;
}

.navigation-item a::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 100%;
  border-bottom: solid 2px rgb(247, 148, 29);
  transition: all 0.3s;
}

.navigation-item-sub a, .inner-header .navigation-item-sub a,
.contacts-header .navigation-item-sub a {
  color: black;
}

.navigation-item-sub a::after {
  display: none;
}

.navigation-item .current-page::after {
  display:none;
}

.navigation-item a:hover::after {
  transform: translateY(15px);
  opacity: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5vw;
}

.advantages-item:last-child {
  padding-bottom: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  width: 33%;
  text-align: center;
}

.advantages-item img {
  margin-bottom: 2vw;
}

.offers-images {
  background-color: rgba(255,255,255,0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1vw;
  position: relative;
}

.offers-inner .offers-images {
  background-color: rgba(225,225,225,0.6);
}

.offers-image {
  padding-bottom: 1vw;
}

.offers-image img {
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.24);
}

.index-main .image-sub {
  margin-top: 2em;
  display: block;
  color: black;
  background-color: white;
  padding: 1em 1em;
  text-align: left;
  position: relative;
}

.index-main .image-sub::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
}

.index-main .image-sub::after {
  content: "";
  position: absolute;
  bottom: 20%;
  display: block;
  width: 0;
  border-bottom: solid 2px rgb(247, 148, 29);
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;

}

.index-main .image-sub:hover::before {
  opacity: 0;
  height: 0;
}

.index-main .image-sub:hover::after {
  opacity: 1;
  width: 80%
}

.main-button {
  margin-top: 3vw;
}

.offers-inner .offers-images {
  padding-left: 7vw;
  padding-right: 7vw;
}

.offers-inner .offers-images .offers-image {
  margin-left: 1vw;
  margin-right: 1vw;
}

.offers-inner .offers-images p {
  text-align: center;
  z-index: 2;
  position: relative;
}

.offers-inner .offers-images img {
  margin-top: 1em;
}

.offers-inner .offers-images .image-sub {
  margin-top: 2em;
  display: block;
  background-color: white;
  padding: 1em 1em;
  text-align: left;
  position: relative;
  color: black;
  z-index: 1;
}

.offers-images .image-sub::before {
  position: absolute;
  content: "";
  top: 20%;
  left: 0;
  height: 60%;
  border-left: solid 3px rgb(247, 148, 29);
}

.offers-inner .offers-images {
  position: relative;
}

.offers-inner .offers-images::before, .index-main .offers-images::before {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  top: calc(245px + 1vw);
  height: 50px;
  width: 100%;
  z-index: 0;
}

.offers-inner .offers-images::after, .index-main .offers-images::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  top: calc(540px + 2vw);
  height: 50px;
  width: 100%;
  z-index: 0;
}

.plywood .offers-inner .offers-images::after {
  display: none;
}

.index-main .offers-images::before {
  top: calc(331px + 1vw);
}

.index-main .offers-images::after {
  top: calc(712px + 2vw);
  z-index: -1;
}

.scaffold .offers-inner .offers-images::before {
  top: calc(307px + 1vw);
}

.plywood .offers-inner .offers-images::before {
  top: calc(306px + 1vw);
}

.scaffold .offers-inner .offers-images::after {
  top: calc(664px + 2vw);
}

.tower .offers-inner .offers-images::before {
  top: calc(369px + 1vw);
}

.tower .offers-inner .offers-images::after {
  top: calc(788px + 2vw);
}

.rent {
  position: relative;
  margin-top: 2vw;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.rent .section-title {
  margin-top: 2vw;
}

.rent-content p, .rent-content ul {
  margin-left: 4vw;
  margin-right: 4vw;
}

.rent-content ul {
  list-style: disc;
  margin-left: 6vw;
}

.rent-content p {
  margin-top: 2vw;
}

.rent-img {
  position: absolute;
  right: 0;
  z-index: -1;
}

.inner-content li {
  margin-left: 20px;
}

.rent-content {
  width: 55%;
  background-color: rgba(255,255,255,0.9);
  padding-bottom: 2vw;
}

.devices-list {
  list-style: none;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.device-img {
  margin-bottom: 1vw;
}

.device-item {
  list-style: none;
  text-align: left;
  width: 400px;
}

.device-item p {
  text-align: left;
}

.documents-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3vw;
}

.documents-container a {
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
}

.services-link {
  margin-top: 2vw;
}

.services-link p {
  text-align: center;
}

.services-link .inner-link {
  font-size: 1.5em;
}

footer {
  position: relative;
}

iframe {
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.footer-contacts {
  font-family: 'Calibri', Arial, sans-serif;
  position: absolute;
  right: 5vw;
  top: 5vw;
  background-color: #f3f3f3;
  padding: 1em;
  border: solid 2px black;
}

.contacts-item {
display: block;
font-weight: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 1em;
}

.modal {
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: #f7941d;
}

.modal-write-us, .modal-result {
  display: none;
  width: 300px;
  top: 10vw;
  left: 50%;
  margin-left: -170px;
  padding: 20px;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
  animation: show 0.3s;
}

.modal-result {
  padding-top: 2em;
  top: 20vw;
  color: #f96502;
}

.write-us-close, .result-form-close {
  top: 16px;
  right: 9px;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-item {
  margin: 0;
  margin-bottom: 19px;
}

.write-us-form .write-us-item {
  width: 100%;
}

.write-us-item input {
  color: #0b3a4c;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 15px;
}

.write-us-item label {
  display: block;
  margin-bottom: 8px;
}

.write-us-item .agree {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 15px 15px 15px 0;
}

.ok-button {
  margin-top: 1em;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  width: 25px;
  height: 3px;
  background-color: #f7941d;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-show {
  display: block;
  animation: show 0.3s;
}

.box {
  border-radius: 2px;
  position: fixed;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-image: -moz-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(247,112,29) 0%, rgb(249,164,0) 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  cursor: pointer;
}

.btn span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  height: 8px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.btn span:nth-child(2) {
  line-height: 6px;
  text-align: center;
}

.btn span + span {
  margin-top: 14px;
}

.active span:nth-child(1) {
  animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.section-contacts a {
  color: #f7941d;
}

.section-contacts {
  margin-top: 2vw;
  text-align: center;
  font-size: 2em;
}

@media only screen and (min-width : 320px) and (max-width : 769px) {

  body {
    font-size: 14px;
  }

  ul[class*="offers-images"]::after, ul[class*="offers-images"]::before {
    display: none;
  }

.index-main .image-sub, .offers-inner .offers-images .image-sub {
  margin-top: 0;
  margin-bottom: 1em;
}

.offers-image {
  text-align: center;
}

.rent-content {
  width: 100%;
}

.footer-contacts {
  position:static;
  margin-top: 1em;
}

iframe {
  height: 300px;
}

.main-header .main-logo {
  width: 100%;
}

.header-contacts {
  justify-content: normal;
  margin-top: 0;
}

.main-header .header-contacts li:not(:first-child) {
  margin-top: 0.5em;
}

.main-header .navigation-list, .inner-header .navigation-list {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  background-color: grey;
  z-index: 5;
}

.inner-header .navigation-list {
  top: 0;
  right: 0;
}

.main-header .navigation-item, .inner-header .navigation-item {
  margin-top: 10px;
  font-size: 1.5em;
}

.header-top {
  margin-left: 0;
}

.inner-header .navigation-item a {
  color: white;
}

.inner-header .header-top {
  align-items: center;
}

.inner-header .header-info {
  flex-direction: row;
}

.inner-telephone {
  padding-left: 0.5em;
}

.inner-header .box {
  top: 0;
}

.burger-menu-button {
  display: block;
  z-index: 7;
}

.contacts-header .main-logo {
  width: auto;
}

.img-float {
  float: none;
}

.navigation-list-sub {
  background-color: grey;
  display: none;
  top: auto;
  left: auto;
}

}
